# =====================================
# Java / Spring Boot
# =====================================
*.class
*.log

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# =====================================
# Maven
# =====================================
target/
dependency-reduced-pom.xml
release.properties

# Keep Maven wrapper (important)
!.mvn/wrapper/maven-wrapper.jar


# =====================================
# Node / Playwright scanner module
# =====================================
scanner/node_modules/
npm-debug.log*
results.json
results_localhost.json
playwright-report/
test-results/

# =====================================
# NetBeans
# =====================================
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# NetBeans project-specific files (ignore)
nbactions.xml
nb-configuration.xml

# =====================================
# IntelliJ IDEA
# =====================================
.idea/
*.iml
*.ipr
*.iws

# =====================================
# Eclipse / STS
# =====================================
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

# =====================================
# VS Code
# =====================================
.vscode/
*.code-workspace

# =====================================
# Build / temp
# =====================================
build/
out/
tmp/
temp/

# =====================================
# Database (SQLite)
# =====================================
*.db

# =====================================
# OS files
# =====================================
.DS_Store
Thumbs.db

